@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
    --primaryColor: #d54b3d;
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    font-size: 1.125rem;
}

.colored-text {
    color: var(--primaryColor);
}

.alt {
    padding: 3rem 0;
    background-color: var(--primaryColor);
    color: #fff;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    filter: invert(1);
}

#mainNav {
    background-color: var(--primaryColor);
    
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: green;
}

.background-image {
    background-color: black !important;
}
.btn-gradient {
    background-image: linear-gradient(45deg, #5cb85c, #5cb85c) !important;
}
.nav-item {
    margin: 0 0.5rem;
}
.navbar-nav .nav-link,
.nav-item .btn {
    font-size: 1.25rem;
    color: white !important;
}

.intro-video video {
    border: 6px solid #fff;
}

/* Why use GWizz */

.why-section img {
    width: 100%;

}

.why-section .screenshot {
    border: 6px solid #fff;
    max-width: 500px;
    margin: 1rem auto;

}





/* Benefits */

.benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.benefits h5 {
    font-weight: 500;
}

.benefit {
    max-width: 350px;
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: var(--primaryColor);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: #fff;
    transition: 0.25s ease;
}

.benefit:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.benefits-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto 1.25rem;
    border-radius: 50%;
    border: 2px solid #ffff;
}

.benefits-img svg {
    width: 40px;
    fill: #fff;
}

/* FAQ */

details {
    user-select: none;
    text-align: left;
    width: 100%;
    margin: 1.25rem 0;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    transition: box-shadow 0.35s;
}

details[open] {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    transition: color 0.25s;
    cursor: pointer;
}

details[open] summary {
    color: var(--primaryColor);
}

summary::-webkit-details-marker {
    display: none;
}

summary svg {
    width: 20px;
    margin-left: 20px;
    fill: #808080;
    transition: fill 0.25s, transform 0.25s;
}

details[open] summary svg {
    fill: var(--primaryColor);
    transform: rotate(-180deg);
}

summary + p {
    margin-top: 1rem;
}

details[open] summary + p {
    animation: faqAnimation 0.35s ease-in-out;
    -webkit-animation: faqAnimation 0.35s ease-in-out;
}

@keyframes faqAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */

@media (max-width: 992px) {
    .nav-item {
        margin: 0.3125rem 0;
    }

    .navbar-nav .nav-link,
    .nav-item .btn {
        font-size: 1.125rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    summary {
        font-size: 1.125rem;
    }
}
